<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.practice.mapper.ABallExamMapper">
    
    <resultMap type="ABallExam" id="ABallExamResult">
        <result property="beId"    column="be_id"    />
        <result property="msId"    column="ms_id"    />
        <result property="driStability"    column="dri_stability"    />
        <result property="driPower"    column="dri_power"    />
        <result property="driSpeed"    column="dri_speed"    />
        <result property="driAnalysis"    column="dri_analysis"    />
        <result property="shoArc"    column="sho_arc"    />
        <result property="shoSpinner"    column="sho_spinner"    />
        <result property="shoAngle"    column="sho_angle"    />
        <result property="shoAnalysis"    column="sho_analysis"    />
        <result property="msDribble"    column="ms_dribble"    />
        <result property="msShooting"    column="ms_shooting"    />
    </resultMap>

    <sql id="selectABallExamVo">
        select be_id, a_ball_exam.ms_id, dri_stability, dri_power, dri_speed, dri_analysis, sho_arc, sho_spinner, sho_angle, sho_analysis from a_ball_exam
    </sql>

    <select id="selectABallExamList" parameterType="ABallExam" resultMap="ABallExamResult">
        <include refid="selectABallExamVo"/>
        <where>  
            <if test="msId != null "> and ms_id = #{msId}</if>
            <if test="driStability != null "> and dri_stability = #{driStability}</if>
            <if test="driPower != null "> and dri_power = #{driPower}</if>
            <if test="driSpeed != null "> and dri_speed = #{driSpeed}</if>
            <if test="driAnalysis != null  and driAnalysis != ''"> and dri_analysis = #{driAnalysis}</if>
            <if test="shoArc != null "> and sho_arc = #{shoArc}</if>
            <if test="shoSpinner != null "> and sho_spinner = #{shoSpinner}</if>
            <if test="shoAngle != null "> and sho_angle = #{shoAngle}</if>
            <if test="shoAnalysis != null  and shoAnalysis != ''"> and sho_analysis = #{shoAnalysis}</if>
        </where>
    </select>
    
    <select id="selectABallExamByBeId" parameterType="Long" resultMap="ABallExamResult">
        <include refid="selectABallExamVo"/>
        where be_id = #{beId}
    </select>

    <select id="selectABallExamByEnumIdByStuIdByCrDataList" resultMap="ABallExamResult">
        select be_id,
               a_ball_exam.ms_id,
               dri_stability,
               dri_power,
               dri_speed,
               dri_analysis,
               sho_arc,
               sho_spinner,
               sho_angle,
               sho_analysis,
               ${msDribble}
        from a_ball_exam
                 JOIN a_mark_sheet ON a_ball_exam.ms_id = a_mark_sheet.ms_id
                 JOIN a_exercise_task ON a_mark_sheet.et_id = a_exercise_task.et_id
                 JOIN class_register ON a_exercise_task.cr_id = class_register.cr_id
        WHERE a_exercise_task.enum_id = #{enumId}
          and a_mark_sheet.stu_id = #{stuId}
          and class_register.cr_date = #{crDate}
    </select>
        
    <insert id="insertABallExam" parameterType="ABallExam" useGeneratedKeys="true" keyProperty="beId">
        insert into a_ball_exam
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msId != null">ms_id,</if>
            <if test="driStability != null">dri_stability,</if>
            <if test="driPower != null">dri_power,</if>
            <if test="driSpeed != null">dri_speed,</if>
            <if test="driAnalysis != null">dri_analysis,</if>
            <if test="shoArc != null">sho_arc,</if>
            <if test="shoSpinner != null">sho_spinner,</if>
            <if test="shoAngle != null">sho_angle,</if>
            <if test="shoAnalysis != null">sho_analysis,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msId != null">#{msId},</if>
            <if test="driStability != null">#{driStability},</if>
            <if test="driPower != null">#{driPower},</if>
            <if test="driSpeed != null">#{driSpeed},</if>
            <if test="driAnalysis != null">#{driAnalysis},</if>
            <if test="shoArc != null">#{shoArc},</if>
            <if test="shoSpinner != null">#{shoSpinner},</if>
            <if test="shoAngle != null">#{shoAngle},</if>
            <if test="shoAnalysis != null">#{shoAnalysis},</if>
         </trim>
    </insert>

    <update id="updateABallExam" parameterType="ABallExam">
        update a_ball_exam
        <trim prefix="SET" suffixOverrides=",">
            <if test="msId != null">ms_id = #{msId},</if>
            <if test="driStability != null">dri_stability = #{driStability},</if>
            <if test="driPower != null">dri_power = #{driPower},</if>
            <if test="driSpeed != null">dri_speed = #{driSpeed},</if>
            <if test="driAnalysis != null">dri_analysis = #{driAnalysis},</if>
            <if test="shoArc != null">sho_arc = #{shoArc},</if>
            <if test="shoSpinner != null">sho_spinner = #{shoSpinner},</if>
            <if test="shoAngle != null">sho_angle = #{shoAngle},</if>
            <if test="shoAnalysis != null">sho_analysis = #{shoAnalysis},</if>
        </trim>
        where be_id = #{beId}
    </update>

    <delete id="deleteABallExamByBeId" parameterType="Long">
        delete from a_ball_exam where be_id = #{beId}
    </delete>

    <delete id="deleteABallExamByBeIds" parameterType="String">
        delete from a_ball_exam where be_id in 
        <foreach item="beId" collection="array" open="(" separator="," close=")">
            #{beId}
        </foreach>
    </delete>
</mapper>