<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.practice.mapper.AExerciseResourceMapper">

    <resultMap type="AExerciseResource" id="AExerciseResourceResult">
        <result property="erId"    column="er_id"    />
        <result property="msId"    column="ms_id"    />
        <result property="erSource"    column="er_source"    />
        <result property="erTime"    column="er_time"    />
    </resultMap>

    <sql id="selectAExerciseResourceVo">
        select er_id, ms_id, er_source, er_time from a_exercise_resource
    </sql>

    <select id="selectAExerciseResourceList" parameterType="AExerciseResource" resultMap="AExerciseResourceResult">
        <include refid="selectAExerciseResourceVo"/>
        <where>
            <if test="msId != null "> and ms_id = #{msId}</if>
            <if test="erSource != null  and erSource != ''"> and er_source = #{erSource}</if>
            <if test="erTime != null "> and er_time = #{erTime}</if>
        </where>
    </select>

    <select id="selectAExerciseResourceByErId" parameterType="Long" resultMap="AExerciseResourceResult">
        <include refid="selectAExerciseResourceVo"/>
        where er_id = #{erId}
    </select>

    <insert id="insertAExerciseResource" parameterType="AExerciseResource" useGeneratedKeys="true" keyProperty="erId">
        insert into a_exercise_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msId != null">ms_id,</if>
            <if test="erSource != null">er_source,</if>
            <if test="erTime != null">er_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msId != null">#{msId},</if>
            <if test="erSource != null">#{erSource},</if>
            <if test="erTime != null">#{erTime},</if>
         </trim>
    </insert>

    <update id="updateAExerciseResource" parameterType="AExerciseResource">
        update a_exercise_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="msId != null">ms_id = #{msId},</if>
            <if test="erSource != null">er_source = #{erSource},</if>
            <if test="erTime != null">er_time = #{erTime},</if>
        </trim>
        where er_id = #{erId}
    </update>

    <delete id="deleteAExerciseResourceByErId" parameterType="Long">
        delete from a_exercise_resource where er_id = #{erId}
    </delete>

    <delete id="deleteAExerciseResourceByErIds" parameterType="String">
        delete from a_exercise_resource where er_id in
        <foreach item="erId" collection="array" open="(" separator="," close=")">
            #{erId}
        </foreach>
    </delete>
</mapper>
