<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledgeQuiz.mapper.A1TaskMapper">
    
    <resultMap type="A1Task" id="A1TaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="teaId"    column="tea_id"    />
        <result property="taskDatetime"    column="task_datetime"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskContent"    column="task_content"    />
    </resultMap>

    <resultMap id="A1TaskAnswerResult" type="A1Task" extends="A1TaskResult">
        <collection property="answerList" notNullColumn="sub_ans_id" javaType="java.util.List" resultMap="AnswerResult" />
    </resultMap>

    <resultMap type="Answer" id="AnswerResult">
        <result property="ansId"    column="sub_ans_id"    />
        <result property="taskId"    column="sub_task_id"    />
        <result property="stuId"    column="sub_stu_id"    />
        <result property="ansResponse"    column="sub_ans_response"    />
        <result property="ansApos"    column="sub_ans_apos"    />
        <result property="ansTime"    column="sub_ans_time"    />
    </resultMap>

    <sql id="selectA1TaskVo">
        select task_id, tea_id, task_datetime, task_title, task_content from a1_task
    </sql>

    <select id="selectA1TaskList" parameterType="A1Task" resultMap="A1TaskResult">
        <include refid="selectA1TaskVo"/>
        <where>  
            <if test="teaId != null "> and tea_id = #{teaId}</if>
            <if test="taskDatetime != null "> and task_datetime = #{taskDatetime}</if>
            <if test="taskTitle != null  and taskTitle != ''"> and task_title = #{taskTitle}</if>
            <if test="taskContent != null  and taskContent != ''"> and task_content = #{taskContent}</if>
        </where>
    </select>
    
    <select id="selectA1TaskByTaskId" parameterType="Long" resultMap="A1TaskAnswerResult">
        select a.task_id, a.tea_id, a.task_datetime, a.task_title, a.task_content,
 b.ans_id as sub_ans_id, b.task_id as sub_task_id, b.stu_id as sub_stu_id, b.ans_response as sub_ans_response, b.ans_apos as sub_ans_apos, b.ans_time as sub_ans_time
        from a1_task a
        left join a1_answer b on b.task_id = a.task_id
        where a.task_id = #{taskId}
    </select>
        
    <insert id="insertA1Task" parameterType="A1Task" useGeneratedKeys="true" keyProperty="taskId">
        insert into a1_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaId != null">tea_id,</if>
            <if test="taskDatetime != null">task_datetime,</if>
            <if test="taskTitle != null">task_title,</if>
            <if test="taskContent != null">task_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaId != null">#{teaId},</if>
            <if test="taskDatetime != null">#{taskDatetime},</if>
            <if test="taskTitle != null">#{taskTitle},</if>
            <if test="taskContent != null">#{taskContent},</if>
         </trim>
    </insert>

    <update id="updateA1Task" parameterType="A1Task">
        update a1_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="teaId != null">tea_id = #{teaId},</if>
            <if test="taskDatetime != null">task_datetime = #{taskDatetime},</if>
            <if test="taskTitle != null">task_title = #{taskTitle},</if>
            <if test="taskContent != null">task_content = #{taskContent},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteA1TaskByTaskId" parameterType="Long">
        delete from a1_task where task_id = #{taskId}
    </delete>

    <delete id="deleteA1TaskByTaskIds" parameterType="String">
        delete from a1_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
    
    <delete id="deleteAnswerByTaskIds" parameterType="String">
        delete from a1_answer where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

    <delete id="deleteAnswerByTaskId" parameterType="Long">
        delete from a1_answer where task_id = #{taskId}
    </delete>

    <insert id="batchAnswer">
        insert into a1_answer( ans_id, task_id, stu_id, ans_response, ans_apos, ans_time) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.ansId}, #{item.taskId}, #{item.stuId}, #{item.ansResponse}, #{item.ansApos}, #{item.ansTime})
        </foreach>
    </insert>
</mapper>