<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledgeQuiz.mapper.AnswerMapper">

    <resultMap type="Answer" id="AnswerResult">
        <result property="ansId"    column="ans_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="ansResponse"    column="ans_response"    />
        <result property="ansApos"    column="ans_apos"    />
        <result property="ansTime"    column="ans_time"    />
    </resultMap>

    <resultMap id="AnswerA1AnsweredResult" type="Answer" extends="AnswerResult">
        <collection property="a1AnsweredList" notNullColumn="sub_ansed_id" javaType="java.util.List" resultMap="A1AnsweredResult" />
    </resultMap>

    <resultMap type="A1Answered" id="A1AnsweredResult">
        <result property="ansedId"    column="sub_ansed_id"    />
        <result property="ansId"    column="sub_ans_id"    />
        <result property="qqId"    column="sub_qq_id"    />
        <result property="ansedCon"    column="sub_ansed_con"    />
    </resultMap>

    <sql id="selectAnswerVo">
        select ans_id, task_id, stu_id, ans_response, ans_apos, ans_time from a1_answer
    </sql>

    <select id="selectAnswerList" parameterType="Answer" resultMap="AnswerResult">
        <include refid="selectAnswerVo"/>
        <where>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="ansResponse != null "> and ans_response = #{ansResponse}</if>
            <if test="ansApos != null "> and ans_apos = #{ansApos}</if>
            <if test="ansTime != null "> and ans_time = #{ansTime}</if>
        </where>
    </select>

    <select id="selectAnswerByAnsId" parameterType="Long" resultMap="AnswerA1AnsweredResult">
        select a.ans_id, a.task_id, a.stu_id, a.ans_response, a.ans_apos, a.ans_time,
 b.ansed_id as sub_ansed_id, b.ans_id as sub_ans_id, b.qq_id as sub_qq_id, b.ansed_con as sub_ansed_con
        from a1_answer a
        left join a1_answered b on b.ans_id = a.ans_id
        where a.ans_id = #{ansId}
    </select>
    <select id="selectCorrect" parameterType="list" resultType="long">
        SELECT COUNT(result) FROM a1_result
            <where>
                <choose>
                    <when test="item != null and item.size() > 0">
                        result = 1 AND
                        oo_id IN
                        <foreach item="item" collection="item" open="(" separator="," close=")">
                            #{item.ansedCon}
                        </foreach>
                    </when>
                    <otherwise>
                        false
                    </otherwise>
                </choose>
            </where>
    </select>

    <insert id="insertAnswer" parameterType="Answer" useGeneratedKeys="true" keyProperty="ansId">
        insert into a1_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="stuId != null and stuId != ''">stu_id,</if>
            <if test="ansResponse != null">ans_response,</if>
            <if test="ansApos != null">ans_apos,</if>
            <if test="ansTime != null">ans_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="stuId != null and stuId != ''">#{stuId},</if>
            <if test="ansResponse != null">#{ansResponse},</if>
            <if test="ansApos != null">#{ansApos},</if>
            <if test="ansTime != null">#{ansTime},</if>
         </trim>
    </insert>

    <update id="updateAnswer" parameterType="Answer">
        update a1_answer
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="stuId != null and stuId != ''">stu_id = #{stuId},</if>
            <if test="ansResponse != null">ans_response = #{ansResponse},</if>
            <if test="ansApos != null">ans_apos = #{ansApos},</if>
            <if test="ansTime != null">ans_time = #{ansTime},</if>
        </trim>
        where ans_id = #{ansId}
    </update>

    <delete id="deleteAnswerByAnsId" parameterType="Long">
        delete from a1_answer where ans_id = #{ansId}
    </delete>

    <delete id="deleteAnswerByAnsIds" parameterType="String">
        delete from a1_answer where ans_id in
        <foreach item="ansId" collection="array" open="(" separator="," close=")">
            #{ansId}
        </foreach>
    </delete>

    <delete id="deleteA1AnsweredByAnsIds" parameterType="String">
        delete from a1_answered where ans_id in
        <foreach item="ansId" collection="array" open="(" separator="," close=")">
            #{ansId}
        </foreach>
    </delete>

    <delete id="deleteA1AnsweredByAnsId" parameterType="Long">
        delete from a1_answered where ans_id = #{ansId}
    </delete>

    <insert id="batchA1Answered">
        insert into a1_answered( ans_id, qq_id, ansed_con) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.ansId}, #{item.qqId}, #{item.ansedCon})
        </foreach>
    </insert>
</mapper>
