<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teachingExchange.mapper.TeachingTableMapper">

    <resultMap type="TeachingTable" id="TeachingTableResult">
        <result property="teachingId"    column="teaching_id"    />
        <result property="teaId"    column="tea_id"    />
        <result property="resourceUrl"    column="resource_url"    />
        <result property="createdAt"    column="created_at"    />
        <result property="enumId"    column="enum_id"    />
        <result property="enumName"    column="enum_name"    />
    </resultMap>

    <resultMap type="Student" id="StudentResult">
        <result property="stuId"    column="user_id"    />
        <result property="stuName"    column="nick_name"    />
    </resultMap>

    <resultMap id="TeachingTableA1CommunicationResult" type="TeachingTable" extends="TeachingTableResult">
        <collection property="a1CommunicationList" notNullColumn="sub_com_id" javaType="java.util.List" resultMap="A1CommunicationResult" />
    </resultMap>

    <resultMap type="remarkPerson" id="RemarkSelfResult">
        <id     property="userId"       column="self_user_id"      />
        <result property="username"     column="self_nick_name"    />
        <result property="avatarUrl"       column="self_avatar"       />
        <result property="role"     column="self_role_name"      />
    </resultMap>
    <resultMap type="remarkPerson" id="RemarkToResult">
        <id     property="userId"       column="to_user_id"      />
        <result property="username"     column="to_nick_name"    />
        <result property="avatarUrl"       column="to_avatar"       />
        <result property="role"     column="to_role_name"      />
    </resultMap>

    <resultMap id="OutTeachingCommunicationResult" type="TeachingTable" extends="TeachingTableResult">
        <collection property="a1CommunicationList" notNullColumn="teaching_id" javaType="java.util.List" resultMap="CommunicationResult" />
    </resultMap>

<!--    评论映射-->
    <resultMap type="A1Communication" id="CommunicationResult">
        <result property="comId"    column="com_id"    />
        <result property="teachingId"    column="teaching_id"    />
        <result property="comContent"    column="com_content"    />
        <result property="comBy"    column="com_by"    />
        <result property="comTime"    column="com_time"    />
        <result property="comPid"    column="com_pid"    />
        <association property="remarkSelf"    javaType="RemarkPerson" resultMap="RemarkSelfResult" />
        <association property="remarkTo"    javaType="RemarkPerson" resultMap="RemarkToResult" />
    </resultMap>

<!--    原生映射-->
    <resultMap type="A1Communication" id="A1CommunicationResult">
        <result property="comId"    column="sub_com_id"    />
        <result property="teachingId"    column="sub_teaching_id"    />
        <result property="comContent"    column="sub_com_content"    />
        <result property="comBy"    column="sub_com_by"    />
        <result property="comTime"    column="sub_com_time"    />
        <result property="comPid"    column="sub_com_pid"    />
    </resultMap>

    <resultMap id="TeachingTableA1ViewedResult" type="TeachingTable" extends="TeachingTableResult">
        <collection property="a1ViewedList" notNullColumn="sub_view_id" javaType="java.util.List" resultMap="A1ViewedResult" />
    </resultMap>

    <resultMap type="A1Viewed" id="A1ViewedResult">
        <result property="viewId"    column="sub_view_id"    />
        <result property="stuId"    column="sub_stu_id"    />
        <result property="teachingId"    column="sub_teaching_id"    />
        <result property="viewedAt"    column="sub_viewed_at"    />
        <result property="viewDuration"    column="sub_view_duration"    />
        <result property="viewAllDuration"    column="sub_view_all_duration"    />
        <result property="avatarUrl"    column="avatar"    />
        <result property="stuName"    column="nick_name"    />
    </resultMap>



    <!--    <sql id="selectRemarkPerson">-->
<!--        select u.user_id as self_user_id, u.nick_name as self_nick_name, u.avatar as self_avatar, r.role_name as self_role_name,-->
<!--               c.com_id, c.com_content, c.com_by, c.com_time, c.com_pid,-->
<!--               e.user_id as to_user_id, e.nick_name as to_nick_name, e.avatar as to_avatar, l.role_name as to_role_name,-->
<!--               b.teaching_id,b.tea_id, b.resource_url, b.created_at-->
<!--        from teaching_table b-->
<!--                 left join a1_communication c on c.teaching_id = b.teaching_id-->
<!--                 left join sys_user u on  u.user_id = c.com_by-->
<!--                 left join sys_user_role ur on u.user_id = ur.user_id-->
<!--                 left join sys_role r on r.role_id = ur.role_id-->
<!--                 left join a1_communication cc on cc.com_id = c.com_pid-->
<!--                 left join sys_user e on e.user_id = cc.com_by-->
<!--                 left join sys_user_role er on e.user_id = er.user_id-->
<!--                 left join sys_role l on l.role_id = er.role_id-->

<!--    </sql>-->

    <sql id="selectRemarkPerson">
        select u.user_id as self_user_id, u.nick_name as self_nick_name, u.avatar as self_avatar, r.role_name as self_role_name,
               c.com_id, c.com_content, c.com_by, c.com_time, c.com_pid,
               e.user_id as to_user_id, e.nick_name as to_nick_name, e.avatar as to_avatar, l.role_name as to_role_name,sb.enum_name,
               b.teaching_id,b.tea_id, b.resource_url, b.created_at
        from teaching_table b
                 left join a1_communication c on c.teaching_id = b.teaching_id
                 left join sys_user u on  u.user_id = c.com_by
                 left join sys_user_role ur on u.user_id = ur.user_id
                 left join sys_role r on r.role_id = ur.role_id
                 left join a1_communication cc on cc.com_id = c.com_pid
                 left join sys_user e on e.user_id = cc.com_by
                 left join sys_user_role er on e.user_id = er.user_id
                 left join sys_role l on l.role_id = er.role_id
                 left join enumerate sb on b.enum_id = sb.enum_id
    </sql>

    <sql id="selectTeachingTableVo">
        select a.teaching_id, a.tea_id, a.resource_url, a.created_at, a.enum_id,sb.enum_name
        from teaching_table a
        left join enumerate sb on a.enum_id = sb.enum_id
    </sql>

<!--  评论主查询  -->
    <select id="selectCommunicationList" parameterType="teachingTable" resultMap="OutTeachingCommunicationResult">
        <include refid="selectRemarkPerson"/>
        <where>
            <if test="commId != null and commId != ''">
                b.teaching_id = ${commId} AND c.com_pid IS null
            </if>
        </where>
    </select>
<!--   评论子查询     -->
    <select id="selectCommunicationId" parameterType="A1Communication" resultMap="CommunicationResult">
        <include refid="selectRemarkPerson"/>
            <where>
                c.com_pid = ${subId} order by c.com_time DESC
            </where>
    </select>

    <select id="selectTeachingViewedTableByTeachingId" parameterType="Long" resultMap="TeachingTableA1ViewedResult">
        select a.teaching_id, a.tea_id, a.resource_url, a.created_at, a.enum_id,sb.enum_name,e.avatar,e.nick_name,
               b.view_id as sub_view_id, b.stu_id as sub_stu_id, b.teaching_id as sub_teaching_id, b.viewed_at as sub_viewed_at, b.view_duration as sub_view_duration, (select sum(view_duration) from a1_viewed where stu_id = b.stu_id ) as sub_view_all_duration
        from teaching_table a
                 left join a1_viewed b on b.teaching_id = a.teaching_id
                 left join enumerate sb on a.enum_id = sb.enum_id
                 left join student stu on stu.stu_id = b.stu_id
                 left join sys_user e on e.user_id = stu.user_id
        where a.teaching_id = #{teachingId}
    </select>

    <insert id="insertTeachingViewedTable" parameterType="A1Viewed" useGeneratedKeys="true" keyProperty="viewId">
        insert into a1_viewed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">stu_id,</if>
            <if test="teachingId != null">teaching_id,</if>
            <if test="viewedAt != null">viewed_at,</if>
            <if test="viewDuration != null">view_duration,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">#{stuId},</if>
            <if test="teachingId != null">#{teachingId},</if>
            <if test="viewedAt != null">#{viewedAt},</if>
            <if test="viewDuration != null">#{viewDuration},</if>
        </trim>
    </insert>

<!--    批量插入-->
    <update id="updateStudent" parameterType="student">
        update student
        <trim prefix="SET" prefixOverrides="and|or" suffixOverrides=",">
            <if test="stuId != null  and stuId != ''"> and user_id = #{stuId}</if>
        </trim>
        where stu_name = #{stuName}
    </update>

    <select id="selectViewed" resultMap="StudentResult">
        select user_id ,nick_name from sys_user
    </select>
<!--    插入-->



    <insert id="batchA1Viewed">
        insert into a1_viewed( view_id, stu_id, teaching_id, viewed_at, view_duration) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.viewId}, #{item.stuId}, #{item.teachingId}, #{item.viewedAt}, #{item.viewDuration})
        </foreach>
    </insert>

<!--  源生方法  -->
    <select id="selectTeachingTableList" parameterType="TeachingTable" resultMap="TeachingTableResult">
        <include refid="selectTeachingTableVo"/>
        <where>
            <if test="teaId != null  and teaId != ''"> and tea_id = #{teaId}</if>
            <if test="resourceUrl != null  and resourceUrl != ''"> and resource_url = #{resourceUrl}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>

    <select id="selectTeachingTableByTeachingId" parameterType="Long" resultMap="TeachingTableA1CommunicationResult">
        select a.teaching_id, a.tea_id, a.resource_url, a.created_at,sb.enum_name,
               b.com_id as sub_com_id, b.teaching_id as sub_teaching_id, b.com_content as sub_com_content, b.com_by as sub_com_by, b.com_time as sub_com_time, b.com_pid as sub_com_pid
        from teaching_table a
                 left join enumerate sb on a.enum_id = sb.enum_id
                 left join a1_communication b on b.teaching_id = a.teaching_id
        where a.teaching_id = #{teachingId}
        ORDER BY sub_com_time ASC
    </select>

    <insert id="insertTeachingTable" parameterType="TeachingTable" useGeneratedKeys="true" keyProperty="teachingId">
        insert into teaching_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaId != null">tea_id,</if>
            <if test="resourceUrl != null">resource_url,</if>
            <if test="createdAt != null">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaId != null">#{teaId},</if>
            <if test="resourceUrl != null">#{resourceUrl},</if>
            <if test="createdAt != null">#{createdAt},</if>
        </trim>
    </insert>

    <update id="updateTeachingTable" parameterType="TeachingTable">
        update teaching_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="teaId != null">tea_id = #{teaId},</if>
            <if test="resourceUrl != null">resource_url = #{resourceUrl},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="enumId != null">#{enumId},</if>
        </trim>
        where teaching_id = #{teachingId}
    </update>

    <delete id="deleteTeachingTableByTeachingId" parameterType="Long">
        delete from teaching_table where teaching_id = #{teachingId}
    </delete>

    <delete id="deleteTeachingTableByTeachingIds" parameterType="String">
        delete from teaching_table where teaching_id in
        <foreach item="teachingId" collection="array" open="(" separator="," close=")">
            #{teachingId}
        </foreach>
    </delete>

    <delete id="deleteA1CommunicationByTeachingIds" parameterType="String">
        delete from a1_communication where teaching_id in
        <foreach item="teachingId" collection="array" open="(" separator="," close=")">
            #{teachingId}
        </foreach>
    </delete>

    <delete id="deleteA1CommunicationByTeachingId" parameterType="Long">
        delete from a1_communication where teaching_id = #{teachingId}
    </delete>

    <insert id="batchA1Communication">
        insert into a1_communication( com_id, teaching_id, com_content, com_by, com_time, com_pid) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.comId}, #{item.teachingId}, #{item.comContent}, #{item.comBy}, #{item.comTime}, #{item.comPid})
        </foreach>
    </insert>
</mapper>
