<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.visualization.mapper.HistogramLineChartMapper">
    
    <resultMap type="HistogramLineChart" id="HistogramLineChartResult">
        <result property="stuName"    column="stu_name"    />
        <result property="msDribble"    column="ms_dribble"    />
        <result property="msShooting"    column="ms_shooting"    />
        <result property="crDate"    column="cr_date"    />
        <result property="crMain"    column="cr_main"    />
        <result property="enumId"    column="enum_id"    />
    </resultMap>

    <sql id="selectHistogramLineChartVo">
        select stu_name, ms_dribble, ms_shooting, cr_date, cr_main, enum_id from Histogram_line_chart
    </sql>

    <select id="selectHistogramLineChartList" parameterType="HistogramLineChart" resultMap="HistogramLineChartResult">
        <include refid="selectHistogramLineChartVo"/>
        <where>  
            <if test="stuName != null  and stuName != ''"> and stu_name like concat('%', #{stuName}, '%')</if>
            <if test="msDribble != null "> and ms_dribble = #{msDribble}</if>
            <if test="msShooting != null "> and ms_shooting = #{msShooting}</if>
            <if test="crDate != null "> and cr_date = #{crDate}</if>
            <if test="crMain != null  and crMain != ''"> and cr_main = #{crMain}</if>
            <if test="enumId != null "> and enum_id = #{enumId}</if>
        </where>
    </select>
    
    <select id="selectHistogramLineChartByStuName" parameterType="String" resultMap="HistogramLineChartResult">
        <include refid="selectHistogramLineChartVo"/>
        where stu_name = #{stuName}
    </select>

    <select id="selectHistogramLineChartByStuNameAndEnumId" parameterType="HistogramLineChart" resultMap="HistogramLineChartResult">
        SELECT
            stu_name, ms_dribble, ms_shooting, cr_date, cr_main, enum_id
        FROM (
                 SELECT
                     *,
                     ROW_NUMBER() OVER (PARTITION BY cr_date ORDER BY cr_date) AS row_num
                 FROM (
                          SELECT
                              *,
                              SUBSTR(cr_date, 12, 2) AS dt
                          FROM
                              Histogram_line_chart
                          WHERE
                              stu_name = #{stuName} AND enum_id = #{enumId}
                      ) t
                 WHERE
                     dt = '08' OR dt = '10'
             ) f
        WHERE
            f.row_num = 1;
    </select>
        
    <insert id="insertHistogramLineChart" parameterType="HistogramLineChart">
        insert into Histogram_line_chart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuName != null">stu_name,</if>
            <if test="msDribble != null">ms_dribble,</if>
            <if test="msShooting != null">ms_shooting,</if>
            <if test="crDate != null">cr_date,</if>
            <if test="crMain != null">cr_main,</if>
            <if test="enumId != null">enum_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuName != null">#{stuName},</if>
            <if test="msDribble != null">#{msDribble},</if>
            <if test="msShooting != null">#{msShooting},</if>
            <if test="crDate != null">#{crDate},</if>
            <if test="crMain != null">#{crMain},</if>
            <if test="enumId != null">#{enumId},</if>
         </trim>
    </insert>

    <update id="updateHistogramLineChart" parameterType="HistogramLineChart">
        update Histogram_line_chart
        <trim prefix="SET" suffixOverrides=",">
            <if test="msDribble != null">ms_dribble = #{msDribble},</if>
            <if test="msShooting != null">ms_shooting = #{msShooting},</if>
            <if test="crDate != null">cr_date = #{crDate},</if>
            <if test="crMain != null">cr_main = #{crMain},</if>
            <if test="enumId != null">enum_id = #{enumId},</if>
        </trim>
        where stu_name = #{stuName}
    </update>

    <delete id="deleteHistogramLineChartByStuName" parameterType="String">
        delete from Histogram_line_chart where stu_name = #{stuName}
    </delete>

    <delete id="deleteHistogramLineChartByStuNames" parameterType="String">
        delete from Histogram_line_chart where stu_name in 
        <foreach item="stuName" collection="array" open="(" separator="," close=")">
            #{stuName}
        </foreach>
    </delete>
</mapper>