<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.ruoyi.core.mapper.SelectUserMapper">
<!--    学生映射-->
    <resultMap id="studentImgRequst" type="aMarkSheet" autoMapping="true">
        <association property="student" javaType="selectUserVo">
            <result column="stuName" property="name"/>
            <result column="stuImg" property="img"/>
        </association>
    </resultMap>
<!--    老师映射-->
    <resultMap id="teacherImgRequst" type="AExerciseTask" autoMapping="true">
        <association property="teacher" javaType="selectUserVo">
            <result column="teaName" property="name"/>
            <result column="teaImg" property="img"/>
        </association>
    </resultMap>
<!--    小组映射-->
    <resultMap type="StuGroup" id="StuGroupResult">
        <result property="ggId"    column="gg_id"    />
        <result property="ggName"    column="gg_name"    />
        <result property="stuGroupLeader"    column="stu_group_leader"    />
    </resultMap>

    <sql id="studentRequst">
        Select s.stu_id as stuId, e.avatar as stuImg,s.stu_name as stuName from student s left JOIN sys_user e ON e.user_id = s.user_id
    </sql>

    <sql id="teacherRequst">
        Select t.tea_id as teaId, e.avatar as teaImg,t.tea_name as teaName from teacher t left JOIN sys_user e ON e.user_id = t.user_id
    </sql>

    <sql id="groupRequst">
        select gg_id, gg_name, stu_group_leader from stu_group
    </sql>

    <select id="selectStudent" parameterType="list" resultMap="studentImgRequst" >
        <include refid="studentRequst" />
        <where>
            s.stu_id NOT IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectTeacher" parameterType="list" resultMap="teacherImgRequst" >
        <include refid="teacherRequst" />
        <where>
            t.tea_id NOT IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectGroup" parameterType="java.util.List" resultMap="StuGroupResult" >
        <include refid="groupRequst" />
        <where>
            gg_id NOT IN
            <foreach item="item" collection="ggId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>
