<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.practice.mapper.AMarkSheetMapper">
    
    <resultMap type="AMarkSheet" id="AMarkSheetResult">
        <result property="msId"    column="ms_id"    />
        <result property="etId"    column="et_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="teaId"    column="tea_id"    />
        <result property="msTime"    column="ms_time"    />
        <result property="msDribble"    column="ms_dribble"    />
        <result property="msShooting"    column="ms_shooting"    />
        <result property="msScore"    column="ms_score"    />
        <result property="ms1"    column="ms_1"    />
        <result property="ms2"    column="ms_2"    />
        <result property="ms3"    column="ms_3"    />
        <result property="msClass"    column="ms_class"    />
        <result property="msImg"    column="ms_img"    />
    </resultMap>

    <resultMap id="AMarkSheetAExerciseResourceResult" type="AMarkSheet" extends="AMarkSheetResult">
        <collection property="aExerciseResourceList" notNullColumn="sub_er_id" javaType="java.util.List" resultMap="AExerciseResourceResult" />
    </resultMap>

    <resultMap type="AExerciseResource" id="AExerciseResourceResult">
        <result property="erId"    column="sub_er_id"    />
        <result property="msId"    column="sub_ms_id"    />
        <result property="erTime"    column="sub_er_time"    />
        <result property="erSource"    column="sub_er_source"    />
    </resultMap>

    <sql id="selectAMarkSheetVo">
        select ms_id, et_id, stu_id, tea_id, ms_time, ms_dribble, ms_shooting, ms_score, ms_1, ms_2, ms_3, ms_class, ms_img from a_mark_sheet
    </sql>

    <select id="selectAMarkSheetList" parameterType="AMarkSheet" resultMap="AMarkSheetResult">
        <include refid="selectAMarkSheetVo"/>
        <where>  
            <if test="etId != null "> and et_id = #{etId}</if>
            <if test="stuId != null "> and stu_id = #{stuId}</if>
            <if test="teaId != null "> and tea_id = #{teaId}</if>
            <if test="msTime != null "> and ms_time = #{msTime}</if>
            <if test="msDribble != null "> and ms_dribble = #{msDribble}</if>
            <if test="msShooting != null "> and ms_shooting = #{msShooting}</if>
            <if test="msScore != null "> and ms_score = #{msScore}</if>
            <if test="ms1 != null "> and ms_1 = #{ms1}</if>
            <if test="ms2 != null "> and ms_2 = #{ms2}</if>
            <if test="ms3 != null "> and ms_3 = #{ms3}</if>
            <if test="msClass != null  and msClass != ''"> and ms_class = #{msClass}</if>
            <if test="msImg != null  and msImg != ''"> and ms_img = #{msImg}</if>
        </where>
    </select>
    
    <select id="selectAMarkSheetByMsId" parameterType="Long" resultMap="AMarkSheetAExerciseResourceResult">
        select a.ms_id, a.et_id, a.stu_id, a.tea_id, a.ms_time, a.ms_dribble, a.ms_shooting, a.ms_score, a.ms_1, a.ms_2, a.ms_3, a.ms_class, a.ms_img,
 b.er_id as sub_er_id, b.ms_id as sub_ms_id, b.er_time as sub_er_time, b.er_source as sub_er_source
        from a_mark_sheet a
        left join a_exercise_resource b on b.ms_id = a.ms_id
        where a.ms_id = #{msId}
    </select>
        
    <insert id="insertAMarkSheet" parameterType="AMarkSheet" useGeneratedKeys="true" keyProperty="msId">
        insert into a_mark_sheet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="etId != null">et_id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="teaId != null">tea_id,</if>
            <if test="msTime != null">ms_time,</if>
            <if test="msDribble != null">ms_dribble,</if>
            <if test="msShooting != null">ms_shooting,</if>
            <if test="msScore != null">ms_score,</if>
            <if test="ms1 != null">ms_1,</if>
            <if test="ms2 != null">ms_2,</if>
            <if test="ms3 != null">ms_3,</if>
            <if test="msClass != null">ms_class,</if>
            <if test="msImg != null">ms_img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="etId != null">#{etId},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="teaId != null">#{teaId},</if>
            <if test="msTime != null">#{msTime},</if>
            <if test="msDribble != null">#{msDribble},</if>
            <if test="msShooting != null">#{msShooting},</if>
            <if test="msScore != null">#{msScore},</if>
            <if test="ms1 != null">#{ms1},</if>
            <if test="ms2 != null">#{ms2},</if>
            <if test="ms3 != null">#{ms3},</if>
            <if test="msClass != null">#{msClass},</if>
            <if test="msImg != null">#{msImg},</if>
         </trim>
    </insert>

    <update id="updateAMarkSheet" parameterType="AMarkSheet">
        update a_mark_sheet
        <trim prefix="SET" suffixOverrides=",">
            <if test="etId != null">et_id = #{etId},</if>
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="teaId != null">tea_id = #{teaId},</if>
            <if test="msTime != null">ms_time = #{msTime},</if>
            <if test="msDribble != null">ms_dribble = #{msDribble},</if>
            <if test="msShooting != null">ms_shooting = #{msShooting},</if>
            <if test="msScore != null">ms_score = #{msScore},</if>
            <if test="ms1 != null">ms_1 = #{ms1},</if>
            <if test="ms2 != null">ms_2 = #{ms2},</if>
            <if test="ms3 != null">ms_3 = #{ms3},</if>
            <if test="msClass != null">ms_class = #{msClass},</if>
            <if test="msImg != null">ms_img = #{msImg},</if>
        </trim>
        where ms_id = #{msId}
    </update>

    <delete id="deleteAMarkSheetByMsId" parameterType="Long">
        delete from a_mark_sheet where ms_id = #{msId}
    </delete>

    <delete id="deleteAMarkSheetByMsIds" parameterType="String">
        delete from a_mark_sheet where ms_id in 
        <foreach item="msId" collection="array" open="(" separator="," close=")">
            #{msId}
        </foreach>
    </delete>
    
    <delete id="deleteAExerciseResourceByMsIds" parameterType="String">
        delete from a_exercise_resource where ms_id in 
        <foreach item="msId" collection="array" open="(" separator="," close=")">
            #{msId}
        </foreach>
    </delete>

    <delete id="deleteAExerciseResourceByMsId" parameterType="Long">
        delete from a_exercise_resource where ms_id = #{msId}
    </delete>

    <insert id="batchAExerciseResource">
        insert into a_exercise_resource( er_id, ms_id, er_time, er_source) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.erId}, #{item.msId}, #{item.erTime}, #{item.erSource})
        </foreach>
    </insert>
</mapper>