<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.InClassModule.mapper.A2StudentEvaluateMapper">
    
    <resultMap type="A2StudentEvaluate" id="A2StudentEvaluateResult">
        <result property="seId"    column="se_id"    />
        <result property="crId"    column="cr_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="esId"    column="es_id"    />
        <result property="eeType"    column="ee_type"    />
        <result property="peId"    column="pe_id"    />
    </resultMap>

    <sql id="selectA2StudentEvaluateVo">
        select se_id, cr_id, stu_id, es_id, ee_type, pe_id from a2_student_evaluate
    </sql>

    <select id="selectA2StudentEvaluateList" parameterType="A2StudentEvaluate" resultMap="A2StudentEvaluateResult">
        <include refid="selectA2StudentEvaluateVo"/>
        <where>  
            <if test="crId != null "> and cr_id = #{crId}</if>
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="esId != null  and esId != ''"> and es_id = #{esId}</if>
            <if test="eeType != null  and eeType != ''"> and ee_type = #{eeType}</if>
            <if test="peId != null  and peId != ''"> and pe_id = #{peId}</if>
        </where>
    </select>
    
    <select id="selectA2StudentEvaluateBySeId" parameterType="Long" resultMap="A2StudentEvaluateResult">
        <include refid="selectA2StudentEvaluateVo"/>
        where se_id = #{seId}
    </select>
        
    <insert id="insertA2StudentEvaluate" parameterType="A2StudentEvaluate" useGeneratedKeys="true" keyProperty="seId">
        insert into a2_student_evaluate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="crId != null">cr_id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="esId != null">es_id,</if>
            <if test="eeType != null">ee_type,</if>
            <if test="peId != null">pe_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="crId != null">#{crId},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="esId != null">#{esId},</if>
            <if test="eeType != null">#{eeType},</if>
            <if test="peId != null">#{peId},</if>
         </trim>
    </insert>

    <update id="updateA2StudentEvaluate" parameterType="A2StudentEvaluate">
        update a2_student_evaluate
        <trim prefix="SET" suffixOverrides=",">
            <if test="crId != null">cr_id = #{crId},</if>
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="esId != null">es_id = #{esId},</if>
            <if test="eeType != null">ee_type = #{eeType},</if>
            <if test="peId != null">pe_id = #{peId},</if>
        </trim>
        where se_id = #{seId}
    </update>

    <delete id="deleteA2StudentEvaluateBySeId" parameterType="Long">
        delete from a2_student_evaluate where se_id = #{seId}
    </delete>

    <delete id="deleteA2StudentEvaluateBySeIds" parameterType="String">
        delete from a2_student_evaluate where se_id in 
        <foreach item="seId" collection="array" open="(" separator="," close=")">
            #{seId}
        </foreach>
    </delete>
</mapper>