<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teachingExchange.mapper.LessonUnitsMapper">

    <resultMap type="LessonUnits" id="LessonUnitsResult">
        <result property="lesId"    column="les_id"    />
        <result property="lesName"    column="les_name"    />
        <result property="lesOrderId"    column="les_order_id"    />
    </resultMap>

    <resultMap id="LessonUnitsTeachingTableResult" type="LessonUnits" extends="LessonUnitsResult">
        <collection property="teachingTableList" notNullColumn="sub_teaching_id" javaType="java.util.List" resultMap="TeachingTableResult" />
    </resultMap>

    <resultMap type="TeachingTable" id="TeachingTableResult">
        <result property="teachingId"    column="sub_teaching_id"    />
        <result property="teaId"    column="sub_tea_id"    />
        <result property="resourceUrl"    column="sub_resource_url"    />
        <result property="createdAt"    column="sub_created_at"    />
        <result property="teachingTitle"    column="sub_teaching_title"    />
        <result property="teachingOrder"    column="sub_teaching_order"    />
        <result property="lesId"    column="sub_les_id"    />
    </resultMap>

    <sql id="selectLessonUnitsVo">
        select les_id, les_name, les_order_id from lesson_units
    </sql>

    <select id="selectLessonUnitsList" parameterType="LessonUnits" resultMap="LessonUnitsResult">
        <include refid="selectLessonUnitsVo"/>
        <where>
            <if test="lesName != null  and lesName != ''"> and les_name like concat('%', #{lesName}, '%')</if>
            <if test="lesOrderId != null "> and les_order_id = #{lesOrderId}</if>
        </where>
        order by les_order_id asc
    </select>

    <select id="selectLessonUnitsByLesId" parameterType="Long" resultMap="LessonUnitsTeachingTableResult">
        select a.les_id, a.les_name, a.les_order_id,
 b.teaching_id as sub_teaching_id, b.tea_id as sub_tea_id, b.resource_url as sub_resource_url, b.created_at as sub_created_at, b.teaching_title as sub_teaching_title, b.teaching_order as sub_teaching_order, b.les_id as sub_les_id
        from lesson_units a
        left join teaching_table b on b.les_id = a.les_id
        where a.les_id = #{lesId}
        order by les_order_id asc
    </select>

    <insert id="insertLessonUnits" parameterType="LessonUnits">
        insert into lesson_units
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lesName != null">les_name,</if>
            <if test="lesOrderId != null">les_order_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lesName != null">#{lesName},</if>
            <if test="lesOrderId != null">#{lesOrderId},</if>
         </trim>
    </insert>

    <update id="updateLessonUnits" parameterType="LessonUnits">
        update lesson_units
        <trim prefix="SET" suffixOverrides=",">
            <if test="lesName != null">les_name = #{lesName},</if>
            <if test="lesOrderId != null">les_order_id = #{lesOrderId},</if>
        </trim>
        where les_id = #{lesId}
    </update>

    <delete id="deleteLessonUnitsByLesId" parameterType="Long">
        delete from lesson_units where les_id = #{lesId}
    </delete>

    <delete id="deleteLessonUnitsByLesIds" parameterType="String">
        delete from lesson_units where les_id in
        <foreach item="lesId" collection="array" open="(" separator="," close=")">
            #{lesId}
        </foreach>
    </delete>

    <delete id="deleteTeachingTableByLesIds" parameterType="String">
        delete from teaching_table where les_id in
        <foreach item="lesId" collection="array" open="(" separator="," close=")">
            #{lesId}
        </foreach>
    </delete>

    <delete id="deleteTeachingTableByLesId" parameterType="Long">
        delete from teaching_table where les_id = #{lesId}
    </delete>

    <insert id="batchTeachingTable" parameterType="teachingUnit">
        insert into teaching_table( teaching_id, tea_id, resource_url, created_at, teaching_title, teaching_order, les_id) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.teachingId}, #{item.teaId}, #{item.resourceUrl}, #{item.createdAt}, #{item.teachingTitle}, #{item.teachingOrder}, #{item.lesId})
        </foreach>
    </insert>

    <insert id="batchUnitsTable" parameterType="teachingTable">
        insert into teaching_table( tea_id, resource_url, created_at, teaching_title, teaching_order, les_id) values
            (#{teaId}, #{resourceUrl}, #{createdAt}, #{teachingTitle}, #{teachingOrder}, #{lesId})
    </insert>
</mapper>
