<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.InClassModule.mapper.A2A3PhysicalTestMapper">

    <resultMap type="A2A3PhysicalTest" id="A2A3PhysicalTestResult">
        <result property="phyId"    column="phy_id"    />
        <result property="teaId"    column="tea_id"    />
        <result property="enumId"    column="enum_id"    />
        <result property="phyName"    column="phy_name"    />
        <result property="phyDescript"    column="phy_descript"    />
        <result property="phyTime"    column="phy_time"    />
        <result property="phyEndTime"    column="phy_end_time"    />
    </resultMap>

    <resultMap id="A2A3PhysicalTestA2A3PhysicaScoreResult" type="A2A3PhysicalTest" extends="A2A3PhysicalTestResult">
        <collection property="a2A3PhysicaScoreList" notNullColumn="sub_phys_id" javaType="java.util.List" resultMap="A2A3PhysicaScoreResult" />
    </resultMap>

    <resultMap type="A2A3PhysicaScore" id="A2A3PhysicaScoreResult">
        <result property="physId"    column="sub_phys_id"    />
        <result property="stuId"    column="sub_stu_id"    />
        <result property="phyId"    column="sub_phy_id"    />
        <result property="physStamina2"    column="sub_phys_stamina2"    />
        <result property="physSpeed2"    column="sub_phys_speed2"    />
    </resultMap>

    <sql id="selectA2A3PhysicalTestVo">
        select phy_id, tea_id, enum_id, phy_name, phy_descript, phy_time, phy_end_time from a2_a3_physical_test
    </sql>

    <select id="selectA2A3PhysicalTestList" parameterType="A2A3PhysicalTest" resultMap="A2A3PhysicalTestResult">
        <include refid="selectA2A3PhysicalTestVo"/>
        <where>
            <if test="teaId != null "> and tea_id = #{teaId}</if>
            <if test="enumId != null "> and enum_id = #{enumId}</if>
            <if test="phyName != null  and phyName != ''"> and phy_name like concat('%', #{phyName}, '%')</if>
            <if test="phyDescript != null  and phyDescript != ''"> and phy_descript = #{phyDescript}</if>
            <if test="phyTime != null "> and phy_time = #{phyTime}</if>
            <if test="phyEndTime != null "> and phy_end_time = #{phyEndTime}</if>
        </where>
    </select>

    <select id="selectA2A3PhysicalTestByPhyId" parameterType="Long" resultMap="A2A3PhysicalTestA2A3PhysicaScoreResult">
        select a.phy_id, a.tea_id, a.enum_id, a.phy_name, a.phy_descript, a.phy_time, a.phy_end_time,
 b.phys_id as sub_phys_id, b.stu_id as sub_stu_id, b.phy_id as sub_phy_id, b.phys_stamina2 as sub_phys_stamina2, b.phys_speed2 as sub_phys_speed2
        from a2_a3_physical_test a
        left join a2_a3_physica_score b on b.phy_id = a.phy_id
        where a.enum_id = #{enumId}
        <if test="crId != null "> and cr_id = #{crId}</if>
    </select>

    <insert id="insertA2A3PhysicalTest" parameterType="A2A3PhysicalTest" useGeneratedKeys="true" keyProperty="phyId">
        insert into a2_a3_physical_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaId != null">tea_id,</if>
            <if test="enumId != null">enum_id,</if>
            <if test="phyName != null">phy_name,</if>
            <if test="phyDescript != null">phy_descript,</if>
            <if test="phyTime != null">phy_time,</if>
            <if test="phyEndTime != null">phy_end_time,</if>
            <if test="crId != null ">cr_id</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaId != null">#{teaId},</if>
            <if test="enumId != null">#{enumId},</if>
            <if test="phyName != null">#{phyName},</if>
            <if test="phyDescript != null">#{phyDescript},</if>
            <if test="phyTime != null">#{phyTime},</if>
            <if test="phyEndTime != null">#{phyEndTime},</if>
            <if test="crId != null ">#{crId}</if>
         </trim>
    </insert>

    <update id="updateA2A3PhysicalTest" parameterType="A2A3PhysicalTest">
        update a2_a3_physical_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="teaId != null">tea_id = #{teaId},</if>
            <if test="enumId != null">enum_id = #{enumId},</if>
            <if test="phyName != null">phy_name = #{phyName},</if>
            <if test="phyDescript != null">phy_descript = #{phyDescript},</if>
            <if test="phyTime != null">phy_time = #{phyTime},</if>
            <if test="phyEndTime != null">phy_end_time = #{phyEndTime},</if>
            <if test="crId != null ">cr_id = #{crId},</if>
        </trim>
        where phy_id = #{phyId}
    </update>

    <delete id="deleteA2A3PhysicalTestByPhyId" parameterType="Long">
        delete from a2_a3_physical_test where phy_id = #{phyId}
    </delete>

    <delete id="deleteA2A3PhysicalTestByPhyIds" parameterType="String">
        delete from a2_a3_physical_test where phy_id in
        <foreach item="phyId" collection="array" open="(" separator="," close=")">
            #{phyId}
        </foreach>
    </delete>

    <delete id="deleteA2A3PhysicaScoreByPhyIds" parameterType="String">
        delete from a2_a3_physica_score where phy_id in
        <foreach item="phyId" collection="array" open="(" separator="," close=")">
            #{phyId}
        </foreach>
    </delete>

    <delete id="deleteA2A3PhysicaScoreByPhyId" parameterType="Long">
        delete from a2_a3_physica_score where phy_id = #{phyId}
    </delete>

    <insert id="batchA2A3PhysicaScore">
        insert into a2_a3_physica_score( phys_id, stu_id, phy_id, phys_stamina2, phys_speed2) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.physId}, #{item.stuId}, #{item.phyId}, #{item.physStamina2}, #{item.physSpeed2})
        </foreach>
    </insert>
</mapper>
