<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.InClassModule.mapper.A2IdeologicalPerformanceMapper">

    <resultMap type="A2IdeologicalPerformance" id="A2IdeologicalPerformanceResult">
        <result property="ipId"    column="ip_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="crId"    column="cr_id"    />
        <result property="ipType"    column="ip_type"    />
    </resultMap>

    <sql id="selectA2IdeologicalPerformanceVo">
        select ip_id, stu_id, cr_id, ip_type from a2_ideological_performance
    </sql>

    <select id="selectA2IdeologicalPerformanceList" parameterType="A2IdeologicalPerformance" resultMap="A2IdeologicalPerformanceResult">
        <include refid="selectA2IdeologicalPerformanceVo"/>
        <where>
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="crId != null "> and cr_id = #{crId}</if>
            <if test="ipType != null  and ipType != ''"> and ip_type = #{ipType}</if>
        </where>
    </select>

    <select id="selectA2IdeologicalPerformanceByIpId" parameterType="Long" resultMap="A2IdeologicalPerformanceResult">
        <include refid="selectA2IdeologicalPerformanceVo"/>
        where cr_id = #{crId}
    </select>

    <insert id="insertA2IdeologicalPerformance" parameterType="A2IdeologicalPerformance" useGeneratedKeys="true" keyProperty="ipId">
        insert into a2_ideological_performance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">stu_id,</if>
            <if test="crId != null">cr_id,</if>
            <if test="ipType != null">ip_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">#{stuId},</if>
            <if test="crId != null">#{crId},</if>
            <if test="ipType != null">#{ipType},</if>
         </trim>
    </insert>

    <update id="updateA2IdeologicalPerformance" parameterType="A2IdeologicalPerformance">
        update a2_ideological_performance
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="crId != null">cr_id = #{crId},</if>
            <if test="ipType != null">ip_type = #{ipType},</if>
        </trim>
        where ip_id = #{ipId}
    </update>

    <delete id="deleteA2IdeologicalPerformanceByIpId" parameterType="Long">
        delete from a2_ideological_performance where ip_id = #{ipId}
    </delete>

    <delete id="deleteA2IdeologicalPerformanceByIpIds" parameterType="String">
        delete from a2_ideological_performance where ip_id in
        <foreach item="ipId" collection="array" open="(" separator="," close=")">
            #{ipId}
        </foreach>
    </delete>
</mapper>
