<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.views.mapper.LineChartMapper">
    
    <resultMap type="LineChart" id="LineChartResult">
        <result property="stuId"    column="stu_id"    />
        <result property="msScore"    column="ms_score"    />
        <result property="enumId"    column="enum_id"    />
        <result property="crDate"    column="cr_date"    />
    </resultMap>

    <sql id="selectLineChartVo">
        select stu_id, ms_score, enum_id, cr_date from line_chart
    </sql>

    <select id="selectLineChartList" parameterType="LineChart" resultMap="LineChartResult">
        <include refid="selectLineChartVo"/>
        <where>  
            <if test="stuId != null "> and stu_id = #{stuId}</if>
            <if test="msScore != null "> and ms_score = #{msScore}</if>
            <if test="enumId != null "> and enum_id = #{enumId}</if>
            <if test="crDate != null "> and cr_date = #{crDate}</if>
        </where>
    </select>
    
    <select id="selectLineChartByStuId" parameterType="Long" resultMap="LineChartResult">
        <include refid="selectLineChartVo"/>
        where stu_id = #{stuId} and enum_id = #{enumId} ORDER BY cr_date ASC
    </select>
        
    <insert id="insertLineChart" parameterType="LineChart">
        insert into line_chart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">stu_id,</if>
            <if test="msScore != null">ms_score,</if>
            <if test="enumId != null">enum_id,</if>
            <if test="crDate != null">cr_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">#{stuId},</if>
            <if test="msScore != null">#{msScore},</if>
            <if test="enumId != null">#{enumId},</if>
            <if test="crDate != null">#{crDate},</if>
         </trim>
    </insert>

    <update id="updateLineChart" parameterType="LineChart">
        update line_chart
        <trim prefix="SET" suffixOverrides=",">
            <if test="msScore != null">ms_score = #{msScore},</if>
            <if test="enumId != null">enum_id = #{enumId},</if>
            <if test="crDate != null">cr_date = #{crDate},</if>
        </trim>
        where stu_id = #{stuId}
    </update>

    <delete id="deleteLineChartByStuId" parameterType="Long">
        delete from line_chart where stu_id = #{stuId}
    </delete>

    <delete id="deleteLineChartByStuIds" parameterType="String">
        delete from line_chart where stu_id in 
        <foreach item="stuId" collection="array" open="(" separator="," close=")">
            #{stuId}
        </foreach>
    </delete>
</mapper>