<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bModularity.mapper.B1FranchiseClubMapper">

	<resultMap type="B1FranchiseClub" id="B1FranchiseClubResult">
		<result property="tcId" column="tc_id"/>
		<result property="enumId" column="enum_id"/>
		<result property="stuId" column="stu_id"/>
		<result property="tcUrl" column="tc_url"/>
		<result property="tcTime" column="tc_time"/>
		<result property="tcTitle" column="tc_title"/>
		<result property="tcPlace" column="tc_place"/>
	</resultMap>

	<resultMap id="B1FranchiseClubB1MassSourceResult" type="B1FranchiseClub" extends="B1FranchiseClubResult">
		<collection property="b1MassSourceList" notNullColumn="sub_mas_id" javaType="java.util.List"
		            resultMap="B1MassSourceResult"/>
	</resultMap>

	<resultMap type="B1MassSource" id="B1MassSourceResult">
		<result property="masId" column="sub_mas_id"/>
		<result property="tcId" column="sub_tc_id"/>
		<result property="teasUrl" column="sub_teas_url"/>
	</resultMap>

	<sql id="selectB1FranchiseClubVo">
		SELECT tc_id, enum_id, stu_id, tc_url, tc_time, tc_title, tc_place
		FROM b1_franchise_club
	</sql>

	<select id="selectB1FranchiseClubList" parameterType="B1FranchiseClub" resultMap="B1FranchiseClubResult">
		<include refid="selectB1FranchiseClubVo"/>
		<where>
			<if test="enumId != null ">and enum_id = #{enumId}</if>
			<if test="stuId != null  and stuId != ''">and stu_id = #{stuId}</if>
			<if test="tcUrl != null  and tcUrl != ''">and tc_url = #{tcUrl}</if>
			<if test="tcTime != null ">and tc_time = #{tcTime}</if>
			<if test="tcTitle != null  and tcTitle != ''">and tc_title = #{tcTitle}</if>
			<if test="tcPlace != null  and tcPlace != ''">and tc_place = #{tcPlace}</if>
		</where>
	</select>

	<select id="selectB1FranchiseClubByTcId" parameterType="Long" resultMap="B1FranchiseClubB1MassSourceResult">
		SELECT a.tc_id,
		       a.enum_id,
		       a.stu_id,
		       a.tc_url,
		       a.tc_time,
		       a.tc_title,
		       a.tc_place,
		       b.mas_id   AS sub_mas_id,
		       b.tc_id    AS sub_tc_id,
		       b.teas_url AS sub_teas_url
		FROM b1_franchise_club a
			     LEFT JOIN b1_mass_source b ON b.tc_id = a.tc_id
		WHERE a.tc_id = #{tcId}
	</select>

	<insert id="insertB1FranchiseClub" parameterType="B1FranchiseClub" useGeneratedKeys="true" keyProperty="tcId">
		insert into b1_franchise_club
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enumId != null">enum_id,</if>
			<if test="stuId != null">stu_id,</if>
			<if test="tcUrl != null">tc_url,</if>
			<if test="tcTime != null">tc_time,</if>
			<if test="tcTitle != null">tc_title,</if>
			<if test="tcPlace != null">tc_place,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enumId != null">#{enumId},</if>
			<if test="stuId != null">#{stuId},</if>
			<if test="tcUrl != null">#{tcUrl},</if>
			<if test="tcTime != null">#{tcTime},</if>
			<if test="tcTitle != null">#{tcTitle},</if>
			<if test="tcPlace != null">#{tcPlace},</if>
		</trim>
	</insert>

	<update id="updateB1FranchiseClub" parameterType="B1FranchiseClub">
		update b1_franchise_club
		<trim prefix="SET" suffixOverrides=",">
			<if test="enumId != null">enum_id = #{enumId},</if>
			<if test="stuId != null">stu_id = #{stuId},</if>
			<if test="tcUrl != null">tc_url = #{tcUrl},</if>
			<if test="tcTime != null">tc_time = #{tcTime},</if>
			<if test="tcTitle != null">tc_title = #{tcTitle},</if>
			<if test="tcPlace != null">tc_place = #{tcPlace},</if>
		</trim>
		where tc_id = #{tcId}
	</update>

	<delete id="deleteB1FranchiseClubByTcId" parameterType="Long">
		DELETE
		FROM b1_franchise_club
		WHERE tc_id = #{tcId}
	</delete>

	<delete id="deleteB1FranchiseClubByTcIds" parameterType="String">
		delete from b1_franchise_club where tc_id in
		<foreach item="tcId" collection="array" open="(" separator="," close=")">
			#{tcId}
		</foreach>
	</delete>

	<delete id="deleteB1MassSourceByTcIds" parameterType="String">
		delete from b1_mass_source where tc_id in
		<foreach item="tcId" collection="array" open="(" separator="," close=")">
			#{tcId}
		</foreach>
	</delete>

	<delete id="deleteB1MassSourceByTcId" parameterType="Long">
		DELETE
		FROM b1_mass_source
		WHERE tc_id = #{tcId}
	</delete>

	<insert id="batchB1MassSource">
		insert into b1_mass_source( mas_id, tc_id, teas_url) values
		<foreach item="item" index="index" collection="list" separator=",">
			( #{item.masId}, #{item.tcId}, #{item.teasUrl})
		</foreach>
	</insert>

	<!-- 获取学生信息第一页 -->
	<resultMap id="B1Student" type="B1Student">
		<result property="stuId" column="stu_id"/>
		<result property="ggId" column="gg_id"/>
		<result property="stuName" column="stu_name"/>
		<result property="classId" column="class_id"/>
	</resultMap>
	<select id="selectB1Student" resultMap="B1Student">
		SELECT stu_id, gg_id, stu_name, class_id
		FROM student
	</select>

	<!-- 获取学生本周训练记录 -->
	<select id="getStudentThisWeekFranchise" parameterType="Long" resultMap="B1FranchiseClubB1MassSourceResult">
		SELECT a.tc_id,
		       a.enum_id,
		       a.stu_id,
		       a.tc_url,
		       a.tc_time,
		       a.tc_title,
		       a.tc_place,
		       b.mas_id   AS sub_mas_id,
		       b.tc_id    AS sub_tc_id,
		       b.teas_url AS sub_teas_url
		FROM b1_franchise_club a
			     LEFT JOIN b1_mass_source b ON b.tc_id = a.tc_id
		WHERE stu_id = #{id}
		  AND WEEK(CURDATE()) = WEEK(tc_time)
		  AND YEAR(CURDATE()) = YEAR(tc_time)
	</select>

	<!-- 获取学生本周的训练分数 -->
	<select id="getThisWeekFranchiseNum" resultType="Integer">
		SELECT COUNT(*) AS franchise_num
		FROM b1_franchise_club
		WHERE stu_id = #{id}
		  AND WEEK(CURDATE()) = WEEK(tc_time)
		  AND YEAR(CURDATE()) = YEAR(tc_time)
	</select>

	<!-- 上传文件并且获取 -->
	<resultMap id="B1FranchiseClubB1MassSourceResult2" type="B1FranchiseClub" extends="B1FranchiseClubResult">
		<collection property="b1MassSourceList" ofType="B1MassSource" column="tc_id" select="getUrlByTcId"/>
	</resultMap>
	<select id="getAfterUpload" parameterType="B1FranchiseClub" resultMap="B1FranchiseClubB1MassSourceResult2">
		SELECT tc_id, enum_id, stu_id, tc_url, tc_time, tc_title, tc_place
		FROM b1_franchise_club
		WHERE stu_id = #{stuId}
		ORDER BY tc_id DESC
		LIMIT 1
	</select>
	<select id="getUrlByTcId" resultType="B1MassSource" parameterType="Long">
		SELECT mas_id AS masId, tc_id AS tcId, teas_url AS teasUrl
		FROM b1_mass_source
		WHERE tc_id = #{tcId}
	</select>
</mapper>