<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.InClassModule.mapper.A2TeachingAssistantMapper">
    
    <resultMap type="A2TeachingAssistant" id="A2TeachingAssistantResult">
        <result property="taId"    column="ta_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="crId"    column="cr_id"    />
        <result property="taType"    column="ta_type"    />
        <result property="taStu"    column="ta_stu"    />
    </resultMap>

    <sql id="selectA2TeachingAssistantVo">
        select ta_id, stu_id, cr_id, ta_type, ta_stu from a2_teaching_assistant
    </sql>

    <select id="selectA2TeachingAssistantList" parameterType="A2TeachingAssistant" resultMap="A2TeachingAssistantResult">
        <include refid="selectA2TeachingAssistantVo"/>
        <where>  
            <if test="stuId != null  and stuId != ''"> and stu_id = #{stuId}</if>
            <if test="crId != null "> and cr_id = #{crId}</if>
            <if test="taType != null  and taType != ''"> and ta_type = #{taType}</if>
            <if test="taStu != null "> and ta_stu = #{taStu}</if>
        </where>
    </select>
    
    <select id="selectA2TeachingAssistantByTaId" parameterType="Long" resultMap="A2TeachingAssistantResult">
        <include refid="selectA2TeachingAssistantVo"/>
        where ta_id = #{taId}
    </select>
        
    <insert id="insertA2TeachingAssistant" parameterType="A2TeachingAssistant" useGeneratedKeys="true" keyProperty="taId">
        insert into a2_teaching_assistant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuId != null">stu_id,</if>
            <if test="crId != null">cr_id,</if>
            <if test="taType != null">ta_type,</if>
            <if test="taStu != null">ta_stu,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuId != null">#{stuId},</if>
            <if test="crId != null">#{crId},</if>
            <if test="taType != null">#{taType},</if>
            <if test="taStu != null">#{taStu},</if>
         </trim>
    </insert>

    <update id="updateA2TeachingAssistant" parameterType="A2TeachingAssistant">
        update a2_teaching_assistant
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="crId != null">cr_id = #{crId},</if>
            <if test="taType != null">ta_type = #{taType},</if>
            <if test="taStu != null">ta_stu = #{taStu},</if>
        </trim>
        where ta_id = #{taId}
    </update>

    <delete id="deleteA2TeachingAssistantByTaId" parameterType="Long">
        delete from a2_teaching_assistant where ta_id = #{taId}
    </delete>

    <delete id="deleteA2TeachingAssistantByTaIds" parameterType="String">
        delete from a2_teaching_assistant where ta_id in 
        <foreach item="taId" collection="array" open="(" separator="," close=")">
            #{taId}
        </foreach>
    </delete>
</mapper>