<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.afterClassModel.mapper.A3WeeklyTrainingMapper">

    <resultMap type="A3WeeklyTraining" id="A3WeeklyTrainingResult">
        <result property="wetrId"    column="wetr_id"    />
        <result property="phtrId"    column="phtr_id"    />
        <result property="stuId"    column="stu_id"    />
        <result property="wetrTime"    column="wetr_time"    />
        <result property="wetrUrl"    column="wetr_url"    />
    </resultMap>

    <sql id="selectA3WeeklyTrainingVo">
        select wetr_id, phtr_id, stu_id, wetr_time, wetr_url from a3_weekly_training
    </sql>

    <select id="selectA3WeeklyTrainingList" parameterType="A3WeeklyTraining" resultMap="A3WeeklyTrainingResult">
        <include refid="selectA3WeeklyTrainingVo"/>
        <where>
            <if test="phtrId != null "> and phtr_id = #{phtrId}</if>
            <if test="stuId != null "> and stu_id = #{stuId}</if>
            <if test="wetrTime != null "> and wetr_time = #{wetrTime}</if>
            <if test="wetrUrl != null  and wetrUrl != ''"> and wetr_url = #{wetrUrl}</if>
        </where>
    </select>

    <select id="selectA3WeeklyTrainingByWetrId" parameterType="Long" resultMap="A3WeeklyTrainingResult">
        <include refid="selectA3WeeklyTrainingVo"/>
        where stu_id = #{stuId}
    </select>

    <insert id="insertA3WeeklyTraining" parameterType="A3WeeklyTraining">
        insert into a3_weekly_training
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wetrId != null">wetr_id,</if>
            <if test="phtrId != null">phtr_id,</if>
            <if test="stuId != null">stu_id,</if>
            <if test="wetrTime != null">wetr_time,</if>
            <if test="wetrUrl != null">wetr_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wetrId != null">#{wetrId},</if>
            <if test="phtrId != null">#{phtrId},</if>
            <if test="stuId != null">#{stuId},</if>
            <if test="wetrTime != null">#{wetrTime},</if>
            <if test="wetrUrl != null">#{wetrUrl},</if>
         </trim>
    </insert>

    <update id="updateA3WeeklyTraining" parameterType="A3WeeklyTraining">
        update a3_weekly_training
        <trim prefix="SET" suffixOverrides=",">
            <if test="phtrId != null">phtr_id = #{phtrId},</if>
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="wetrTime != null">wetr_time = #{wetrTime},</if>
            <if test="wetrUrl != null">wetr_url = #{wetrUrl},</if>
        </trim>
        where wetr_id = #{wetrId}
    </update>

    <delete id="deleteA3WeeklyTrainingByWetrId" parameterType="Long">
        delete from a3_weekly_training where wetr_id = #{wetrId}
    </delete>

    <delete id="deleteA3WeeklyTrainingByWetrIds" parameterType="String">
        delete from a3_weekly_training where wetr_id in
        <foreach item="wetrId" collection="array" open="(" separator="," close=")">
            #{wetrId}
        </foreach>
    </delete>
</mapper>
